<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959139248406-21piajv6rbik8f9q11j7pufn5aih83pq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959139248406-21piajv6rbik8f9q11j7pufn5aih83pq</string>
	<key>API_KEY</key>
	<string>AIzaSyA9fc7d39A2zZl4nrs1AI6sbT0dLuBr8n0</string>
	<key>GCM_SENDER_ID</key>
	<string>959139248406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wacoproject</string>
	<key>PROJECT_ID</key>
	<string>waco-683f1</string>
	<key>STORAGE_BUCKET</key>
	<string>waco-683f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959139248406:ios:84efd1cc78160f91b27837</string>
</dict>
</plist>